
html, body {
    padding: 0;
    margin: 0;
    height:100%;
}

body {
    background-image: url("https://htmlcolorcodes.com/assets/images/colors/black-color-solid-background-1920x1080.png"); 
}

.contact {
	background-image: url("https://htmlcolorcodes.com/assets/images/colors/white-color-solid-background-1920x1080.png"); 
}

#start{
	width: 80%;
    Height: 130%;
    background-color: #CC241F;
    margin-left: 10%;
    display: inline-flex;
	color: white;
	font-family: 'Comfortaa', cursive; 
}

.startlinks{
	width: 70%;
    Height: 100%;
    background-color: #E3CA27;
	text-align: center;
}

.start3{
	margin-left: 20px;
	text-align: center;
}

#start h4{
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

.Ccontainer {
	width: 100%;
    Height: 100%;
    background-color: white;
}

#grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    height: 978px;
  }

#grid h1{
	color: black;
	text-align: center;
}

.image1 {
   grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 10;
	padding-left: 15px;
 }

.image2 {
	grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 10;
 }

.ch1 {
	grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 8;
	padding-top: 50px;
 }

.ch12 {
	grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
	padding-top: 45px;
 }

.ch13 {
	grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
	padding-top: 50px;
 }

.Ironh1{
	color: rgb(243, 194, 0);
}

.Iron1{
	color: #CC241F;
}
#Iron p{
	color:rgb(243, 194, 0);
}

.container{
	width: 80%;
    Height: 85%;
    background-color: #CC241F;
    margin-left: 10%;
	align-items: center;
    display: inline-flex;
}

.Ironlinks{ 
	width: 46%;
    Height: 100%;
    background-color: #CC241F;
}

.IronRechts{
    width: 54%;
    Height: 100%;
    background-color: rgb(243, 194, 0);
}

.Iron1{
	color: #CC241F;
}

#Iron h2{
	 color: #CC241F;
	 margin-left: 3%;
	 font-size: 28px;
 }
#Iron h3{
	color: #CC241F;
}

.lokilinks{ 
	width: 46%;
    Height: 100%;
    background-color: green;
}

.lokiRechts{
    width: 54%;
    Height: 100%;
    background-color: goldenrod;
	color: green;
}

.lokih1{
	color: goldenrod;
}

#loki p{
	color: goldenrod;
}

.loki1{
	color: green;
}

.caplinks{
	width: 46%;
    Height: 100%;
    background-color: #000d58fa;
}

.capRechts{
	width: 54%;
    Height: 100%;
    background-color: rgb(167, 14, 9);
}

#cap {
	color: silver;
}

#content {
    width: 10%;
    Height: 100%;
    background-color: #E3CA27;
    padding-left: 70%;
}

.eyelinks{
	width: 46%;
    Height: 100%;
    background-color: goldenrod;
}

.eyeRechts{
	width: 54%;
    Height: 100%;
    background-color: green;
}

.testbutton {
	font-family: arial;
	color: #000000 !important;
	font-size: 14px;
	text-shadow: 0px 0px 0px #FFFFFF;
	box-shadow: 2px 2px 5px #000000;
	padding: 10px 15px;
	border-radius: 0px;
	border: 2px solid #000000;
	background: #D4BA15;
	background: linear-gradient(to top, rgb(243, 194, 0), #CF0C0C);
  }

.testbutton:hover {
	color: #000000 !important;
	background: #CFCFCF;
  }

.lbutton {
	font-family: arial;
	color: #000000 !important;
	font-size: 14px;
	text-shadow: 0px 0px 0px #FFE8E8;
	box-shadow: 2px 2px 5px #000000;
	padding: 10px 15px;
	border-radius: 0px;
	border: 2px solid #000000;
	background: #D0D636;
	background: linear-gradient(to top, #D0D636, #258C1D);
  }

 .lbutton:hover {
	color: #000000 !important;
	background: #FFFFFF;
  }

.Cbutton {
	font-family: arial;
	color: silver !important;
	font-size: 14px;
	text-shadow: 0px 0px 0px #FFFFFF;
	box-shadow: 2px 2px 5px #000000;
	padding: 10px 15px;
	border-radius: 0px;
	border: 2px solid #000000;
	background: #D4BA15;
	background: linear-gradient(to top, #000d58fa, rgb(167, 14, 9));
  }

 .Cbutton:hover {
	color: #000000 !important;
	background: #CFCFCF;
  }

.Ebutton {
	font-family: arial;
	color: #000000 !important;
	font-size: 14px;
	text-shadow: 0px 0px 0px #FFFFFF;
	box-shadow: 2px 2px 5px #000000;
	padding: 10px 15px;
	border-radius: 0px;
	border: 2px solid #000000;
	background: #D4BA15;
	background: linear-gradient(to top, green, goldenrod);
  }

.Ebutton:hover {
	color: #000000 !important;
	background: #CFCFCF;
  }



#menu {
	background: linear-gradient(to bottom,  #CC241F,  #E3CA27);
	color: #FFF;
	height: 75px;
    width: 80%;
    margin-left: 10%;
	/* dit stuk heb ik gekopieerd uitleg: gradient background betekend in elkaar overlopend in dit geval rood loopt over in geel, color is kleur tekst, hoogte menu is 75pixels, breedte 80% van de pagina, er zit een marge aan de linker kant van 10% van de pagina */
} 

#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	/* dit stuk heb ik gekopieerd uitleg: margin tussen de in de lijst staande dingen is 0px, de padding is ook 0px, er is geen list style dus er komen geen puntjes voor elk menu */
}

#menu ul {
	width: 100%;
    margin-left: 30%;
	/* dit stuk heb ik gekopieerd uitleg: breedte en margin left spreken voorzich */
}

#menu li {
	float: left;
	display: inline;
	position: relative;
	/* dit stuk heb ik gekopieerd uitleg: float brengt de menus naar links totaan de margin van 30%, display inline laat het mogelijk zijn om tekst in de menus te laten zien, de position zet hem op de plek naast de margin ook wel de statische plek genoemd */
}

#menu a {
	display: block;
	line-height: 69px;
	padding: 0 14px;
	text-decoration: none;
	color: white;
	font-size: 16px;
	/* dit stuk heb ik gekopieerd uitleg: display block betekend op een bepaalde regel zo vermogelijk naar de rechtekant na de margin todat hij bij het einde is van de totale width, lijn heigth laat de totale hoogte zien van de lijn (het menu van bijv: contact us) waarin de teksts kan staan, text decoration none zorgt ervoor dat er geen lijnen onder de tekst van een menutje staan, kleur en font size van de text is dus wit en 16px hoog */
}

#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
	/* dit stuk heb ik gekopieerd uitleg: content laat me sub-menus eronder toevoegen en door de links naar de andere html pagina's gaan nadat er op wordt geklikt, de submenus staan 5 pixels opzij door de margin left */
}

#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
	/* dit stuk heb ik gekopieerd uitleg: als je over een van de menus heen gaat met je muis veranderd de tekst van kleur namelijk blauw, achtergrond van het desbetreffende veranderd dan in het wit */
}

#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 75px;
	width: 100%;
	opacity: 0;
	cursor: pointer
	/* dit stuk heb ik gekopieerd uitleg: er is hier geen bepaalde display, margin  totaan width spreekt voorzich, opacity geeft het de mogelijkheid om doorzichtig te zijn, cursor laat je muis veranderen in een handje met een wijsvinger omhoog */
}

#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	display: none;
	/* dit stuk heb ik gekopieerd uitleg: sub-menu's zijn de menus die tevoorschijn komen als je muis op het menu erboven staat, height past hij automatisch aan aan het menu boven hem. de overflow hidden zorgt ervoor dat alle tekst die te lang is niet getoond wordt, width is hoe breed het submenu is background is de kleur van achtergrond, position absolute betekend dat het sub menu recht onder de parent gaat staan in dit geval dus onder dat menu, display none laat hem ozichtbaar zijn todat je met je muis op het debetreffende menu gaat staan */
}

#menu ul.sub-menus li {
	display: block;
	width: 100%;
	/* dit stuk heb ik gekopieerd uitleg: de sub-menu's staan onder elkaar door display block  dit betekend op een bepaalde rij zo vermogelijk van links naar rechts tot einde van de width dus niet verder als de groote van het menutje zelf */
}

#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 18px;
	/* dit stuk heb ik gekopieerd uitleg: de kleur en grotte van de tekst in de sub-menu's*/
}

#menu li:hover ul.sub-menus {
	display: block
	/* dit stuk heb ik gekopieerd uitleg: de display laat zien waar de sub-menus moeten staan in dit geval block betekend dat het op een nieuwe regel begint */
}

#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
	/* dit stuk heb ik gekopieerd uitleg: wat hier word bedoeld is dat wanneer je over één van de sub menus heen gaat de achtergrondkleur en de kleur van de tekst veranderen */
}