

h1 {
    text-align: center;
color: black;
background-color:green;
font-family: sans-serif;
font-size: 50px;
}

body {
    background-image: url("https://i.gifer.com/76YS.gif");
}


p {
    color: white;
    background-color: green;
    font-family: cursive;
    font-size: 25px;
    
}

table {
    color: white;
    background-color: black;
    border: 2px solid green;
    width: 1000px; height: 200px;
}

th {
    border: 2px solid green;
}
td {
    text-align: center;
    border: 2px solid green;
}

img {
    border-color: black;
}

a {
    color: whitesmoke;

}